.coming-soon h1{
    text-transform: uppercase;
    font-size: 3.5rem;
    background-color: #e0bfa8;
    padding: 2vh 15vw;
}
.coming-soon{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 70vh;
}